body {
    background: url("background/background.jpg") no-repeat center center fixed;
    background-size: cover; 
    min-height: 100vh;
    color: white;
    background-attachment: fixed; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
